@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: proxima-nova, sans-serif;
}

.arbotek {
  font-family: arbotek, serif;
}

.fenway {
  font-family: fenway-park-jf, serif;
}

.roc {
  font-family: roc-grotesk-wide, sans-serif;
}

.gradient-background {
  background: hsla(184, 85%, 63%, 1);
  background: linear-gradient(
    45deg,
    hsla(184, 85%, 63%, 1) 0%,
    hsla(240, 46%, 76%, 1) 50%,
    hsla(319, 72%, 75%, 1) 100%
  );
}
